.button {
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}